.collection {
    overflow: inherit;
}
.left-align {
    float: left;
    text-transform: capitalize;
}
.total {
    font-weight: bold;
}
.btn-floating.btn-large.redo {
    bottom: 20px;
    text-align: center;
    left: 20px;
    position: fixed;
}